@import "tailwindcss";

:root {
  --color-background: #F6F5F6;
  --color-text-black: #000000;
  --color-text-dark: #383838;
  --color-text-gray: #505050;
  --color-placeholder-red: #E74C3C;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text-black);
  font-family: var(--font-poppins), sans-serif;
}

